{% extends "courier/Template_2.html" %}

{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block script %}
    <script type"text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="user-box">
        <div>
            <center>
                <img src="{% static 'img/OP_Logo.png' %}" height="120em">
            </center>
        </div>
    
        <form action="{% url 'register' %}" method="post" id="signin-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row align-items-center">
                <div class="col-sm-6 my-1">
                    <input class="form-control userInputs first_name" type="text" name="firstname" placeholder="First name *">
                    <span class="message smallLetter"></span>
                </div>
                <div class="col-sm-6 my-1">
                    <input class="form-control userInputs last_name" type="text" name="lastname" placeholder="Last name *">
                    <span class="message smallLetter"></span>
                </div>
            </div>
            </div>
            <div class="form-group">
                <input class="form-control userInputs user_name" type="text" name="username" placeholder="User name *">
                <span class="message smallLetter">{{message}}</span>
            </div>
            <div class="form-group">
                <input class="form-control userInputs email" type="email" name="email" placeholder="Email *">
                <span class="message smallLetter"></span>
            </div>
            <div class="form-group">
                <input class="form-control userInputs password" type="password" name="password" placeholder="Password *">
                <span class="message smallLetter"></span>
            </div>
            <div class="form-group">
                <input class="form-control userInputs confirm_password" type="password" name="confirmation" placeholder="Confirm password *">
                <span class="message smallLetter"></span>
            </div>


            <center>
                <input class="btn btn-secondary" type="submit" value="Sign Up" disabled>
            </center>
        </form>
    
        <div>
            <center>
                Already have an account?&nbsp;&nbsp;<a href="{% url 'login' %}">Log in</a>
            </center>
        </div><br><br>
    </div>
{% endblock %}
